# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
env/

# Ignore IDE and editor config files
*.idea/
.DS_Store

# Ignore tf_practice, doc folders
tf_practice/
doc/

