/* styles.css */

.controls {
    margin-top: 10px;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 20px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

/* footer */
#footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

#footer a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

#footer a:hover {
  color: #0073b1; /* LinkedIn's blue color for hover effect */
}

.social-media-icons {
  margin: 0 20px;
  color: #333;
}

.social-media-icons:hover {
  color: #0073b1; /* Matches LinkedIn's hover color */
}

.fab.fa-github:hover {
  color: #6e5494; /* GitHub's hover color */
}

/* Canvas Section Styling */
.canvas-page #canvas {
    border: 1px solid black;
    touch-action: none; /* Disable touch scrolling on the canvas */
}

.canvas-page .controls {
    margin-top: 10px;
}

.canvas-page .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    gap: 50px;
}

.canvas-page button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid #007bff;
    background-color: white;
    color: #007bff;
    cursor: pointer;
    border-radius: 5px;
}

.canvas-page button:hover {
    background-color: #007bff;
    color: white;
}

.canvas-page .canvas-section{
    text-align: center;
}

/* Results Section Styling */
/* Common for both Digit and Character */
.canvas-page .prediction {
    font-size: 2em;
    margin-top: 10px;
    color: #007bff;
}

.canvas-page .confidence {
    margin-top: 10px;
    font-size: 1.2em;
    color: #555;
}

.canvas-page .chart-bar.active {
    background-color: #007bff;  /* blue for the predicted bar */
}
/* Digit */
.canvas-page .results-section {
    text-align: center;
    width: 300px;
}

/* Bar chart for digit */
.canvas-page .chart-container {
    width: 300px;
    height: 150px;
    position: relative;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.canvas-page .chart-labels-digit {
    display: flex;
    justify-content: space-between;
    width: 300px; /* Match the chart container width */
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.canvas-page .chart-bar-digit {
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: #92bf88;  /* light green for the non-predicted bar*/
    text-align: center;
    font-size: 10px;
    color: white;
}

/* Character */
/* Bar chart for character */
#upperChartContainer, #lowerChartContainer {
  margin-top: 20px;
  width: 700px;
  height: 150px;
  border: 1px solid #ddd;
  position: relative;
}

.canvas-page .chart-labels-character {
    display: flex;
    justify-content: space-between;
    width: 700px; /* Match the chart container width */
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.canvas-page .chart-bar-character {
    position: absolute;
    bottom: 0;
    width: 20px;
    background-color: #92bf88;  /* light green for the non-predicted bar*/
    text-align: center;
    font-size: 10px;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .canvas-page .container {
        flex-direction: column;
        align-items: center;
    }